/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generics */

body{
    font-family: 'Open Sans', sans-serif;
    margin-top: 75px;
}

/* utility */

.large-container{
    max-width: 1200px;
    margin: 0 auto;
}

.small-container{
    max-width: 900px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.logo-drop{
    height: 45px;
    padding-top: 20px;
    padding-left: 15px;
}

.nav-search-left a{
    color: #8a8a8a;;
    text-decoration: none;   
}

.nav-search-left li{
    margin-top: 23px;
    margin-left: 35px;
    list-style-type: none;
}

.nav-search-right{
   justify-content: end;
}

.nav-search-right a{
    color: #8a8a8a;;
    text-decoration: none;
}

.nav-search-right li{
    margin-top: 23px;
    margin-left: 35px;
    list-style-type: none;
}

.nav-search-right .start{
    padding: 9px 15px;
    margin-right: 15px;
    background-color: #0061ff;
    color: white;
}

.trial-title{
    font-size: 60px;
    padding-top: 90px;
    font-weight: 800;
}

.jumbo-img{
    max-width: 120%;
}

.trial-left .trial-content{
    margin-bottom: 40px;
}

.trial-link{
    padding: 9px 15px;
    text-decoration: none;
    color: white;
    background-color: #0061ff;
}

.trial-left .trial-stop{
    margin-top: 40px;
}

.trial-left i{
    margin-top: 60px;
    font-size: 40px;
}

.business-center h2{
    padding-top: 140px;
    font-size: 35px;
}

.circle-container{
    margin-top: 60px;
}

.circle-selection{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 5px solid blue;
    vertical-align: middle;
}

.circle{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid black;
    vertical-align: middle;
    margin-left: 40px;
}

.circle-container span{
    vertical-align: middle;
}

.business-title{
    margin-top: 10px;
    margin-left: 95px;
}

.separator{
    height: 1px;
    border: 1px solid lightgrey;
    margin-top: 10px;
}

.business-container{
    padding: 0 25px;
}

.business-container h3{
    margin-top: 25px;
}

.business-container h5{
    margin-top: 15px;
}

.month{
    color: gray;
    margin-top: 10px;
}

.business-content .fa-user{
    margin-top: 30px;
}

.business-content .fa-folder{
    margin-top: 30px;
}

.business-content .fa-share-nodes{
    margin-top: 30px;
}

.business-content .plan-text{
    font-size: 14px;
    margin-top: 30px;
    margin-left: 5px;
}

.business-content .try-link{
    padding: 9px 15px;
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    margin-top: 40px;
    display: block;
    font-size: small;
    text-align: center;
    margin-bottom: 40px;
}

.business-content a{
    color: #0061ff;
}

.business-content .separator{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right: 175px;
}

.business-content .fa-check{
    color: #0b6aff;
    margin-top: 30px;    
}

.enterprise-center .fa-building{
    margin-top: 15px;
    margin-left: 405px;
}

.enterprise-center h2{
    display: inline-block;
    margin-top: 40px;
    margin-left: 30px;
}

.enterprise-center h4{
    margin-top: 20px;
    margin-left: 30px;
}

.enterprise-center a{
    margin-left: 475px;
    padding: 9px 50px;
    text-decoration: none;
    color: white;
    background-color: #0061ff;
    font-size: small;
    text-align: center;
}

.enterprise-center p{
    margin-top: 30px;
    padding-right: 335px;
    margin-left: 30px;
    color: gray;
}

/* ! header */

.navbar{
    height: 70px;
    background-color: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.flex .nav-left{
    flex-basis: 50%;
    height: 70px;
    
}

.flex .nav-right{
    flex-basis: 50%;
    height: 70px;
}

.free-trial{
    height: 650px;
    background-color: #b4d0e7;
}

/* ? trial above */

.trial-row-above{
    justify-content: center;
}

.trial-row-above .trial-center{
    flex-basis: 80%;
    height: 300px;
}

/* ? trial below */

.trial-row-below{
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

.trial-row-below .trial-left{
    flex-basis: 30%;
    height: 330px;
}

.trial-row-below .trial-right{
    flex-basis: 50%;
}

/* ! main */

.business-plans{
    height: 1300px;
}

/* ? business above */

.business-row-above{
    justify-content: flex-start;
}

.business-row-above .business-center{
    flex-basis: 70%;
    height: 300px;
    margin-top: 30px;
}

/* ? business below */

.business-row-below{
    justify-content: space-between;
    margin-top: 20px;
}

.business-row-below .business-left{
    flex-basis: 30%;
    border: 1px solid lightgray;
    height: 900px;
}

.business-row-below .business-middle{
    flex-basis: 30%;
    border: 1px solid lightgray;
    height: 900px;
}

.business-row-below .business-right{
    flex-basis: 30%;
    border: 1px solid lightgray;
    height: 900px;
}

/* ? enterprise */

.enterprise-contact{
    height: 400px;
}

.enterprise-row{
    justify-content: center;
}

.enterprise-row .enterprise-center{
    flex-basis: 100%;
    border: 1px solid lightgray;
    height: 250px;
    margin-top: 40px;
}

/* ? partners find */

.partners-find{
    height: 700px;
}

.partners-row{
    justify-content: center;
}

.partners-row .find-left{
    flex-basis: 70%;
    height: 540px;
    margin-top: 10px;
}

.partners-row .find-right{
    flex-basis: 40%;
    height: 540px;
    margin-top: 10px;
}

.find-left img{
    max-width: 100%; 
}

.find-right h2{
    margin-left: 30px;
    margin-top: 40px;
}

.find-right p{
    margin-left: 30px;
    margin-top: 20px;
    padding-right: 20px;
}

.find-right a{
    padding: 9px 15px;
    margin-top: 30px;
    margin-left: 30px;
    background-color: white;
    border: 1px solid black;
    color: black;
    display: inline-block;
    text-decoration: none;
}

.partners-find h1{
    margin-top: 60px;
    font-size: 35px;
}

/* ? drop operation */

.drop-operation{
    height: 800px;
}

.operation-row{
    justify-content: space-between;
    flex-wrap: wrap;
}

.operation-row .operation-tool{
    flex-basis: calc(100% / 3);
    height: 400px;
    margin-top: 20px;
    gap: 5px;
}

.operation-tool img{
    max-width: 80%;
    margin-left: 25px;
}

.operation-tool h3{
    padding-right: 40px;
}

.operation-tool p{
    margin-top: 20px;
    padding-right: 30px;
}

/* ? info drop */

.info-drop{
    height: 400px;
}

.info-row{
    justify-content: flex-start;
}

.info-row .info-center{
    flex-basis: 100%;
    height: 200px;
    margin-top: 60px;
}

.info-center h1{
    margin-top: 70px;
    font-size: 30px;
    padding-right: 350px;
    margin-bottom: 40px;
}

.info-center a{
    color: #0b6aff;   
}

/* ? partners logo */

.partner-selection{
    height: 400px;
    background-color: rebeccapurple;
}

/* ? logos container */

.logo-row{
    justify-content: flex-start;
}

/* ? logos */

.logo-row .logo-left-container{
    flex-basis: 50%;
    height: 400px;
    flex-wrap: wrap;
}

.logo-left-container .logo-img{
    flex-basis: 50%;
    height: 200px;
}

.logo-left-container .designit{
    margin: 73px 59px;
    filter: invert();
    max-height: 50px;
    max-width: 100%;
}

.logo-left-container .arizona{
    margin: 50px 72px;
    filter: invert();
    max-height: 100px;
    max-width: 100%;
}

.logo-left-container .florida{
    margin: 82px 40px;
    filter: invert();
    max-height: 100px;
    max-width: 100%;
}

.logo-left-container .topps{
    margin: 63px 57px;
    filter: invert();
    max-height: 75px;
    max-width: 100%;
}

.logo-middle-container img{
    margin: 23px 45px;
    max-height: 75px;
    max-width: 100%;
}

.logo-middle-container .separator{
    margin-left: 40px;
    margin-right: 550px;
}

.logo-middle-container p{
    padding: 0 35px;
    margin-top: 30px;
    color: grey;
}

.logo-right-container .world{
    margin: 76px 64px;
    filter: invert();
    max-height: 50px;
    max-width: 100%;
}

.logo-right-container .heart{
    margin: 93px 68px;
    filter: invert();
    max-height: 15px;
    max-width: 100%;
}

.logo-right-container .planet{
    margin: 64px 67px;
    filter: invert();
    max-height: 70px;
    max-width: 100%;
}

.logo-right-container .clear{
    margin: 66px 85px;
    filter: invert();
    max-height: 70px;
    max-width: 100%;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-bordeaux{
    background-color: #61082b;
}

.bg-lightblue{
    background-color: #0093ce;
}

.bg-red{
    background-color: #ff1c1c;
}

.bg-heavenly{
    background-color: #b4d0e7;
}

.bg-blue{
    background-color: blue;
}

.bg-yellow{
    background-color: yellow;
}

/* ? logos middle */

.logo-row .logo-middle-container{
    flex-basis: 50%;
    height: 400px;
    background-color: #f5f5f5;
}

/* ? logos right */

.logo-row .logo-right-container{
    flex-basis: 50%;
    height: 400px;
    flex-wrap: wrap;
}

.logo-right-container .logo-img{
    flex-basis: 50%;
    height: 200px;
}

/* ? download drop */

.download-drop{
    height: 400px;
    background-color: #b4d0e7;
}

.download-row{
    justify-content: center;
}

.download-row .drop-try{
    flex-basis: 75%;
    height: 300px;
    margin-top: 40px;
}

.drop-try .drop-text{
    flex-basis: 50%;
}

.drop-text h1{
    margin-top: 118px;
    font-size: 35px;
    color: #61082b;
}

.drop-try .drop-link{
    flex-basis: 50%;
    justify-content: end;
    padding: 132px 38px;
}

.drop-link a{
    padding: 9px 50px;
    text-decoration: none;
    color: black;
    background-color: white;
    font-size: small;
    text-align: center;
}

/* ? FAQ */

.faq-container{
    height: 600px;
}

.faq-row{
    justify-content: center;
}

.faq-row .question{
    flex-basis: 100%;
    height: 400px;
    border: 2px dashed white;
    background-color: black;
    margin-top: 70px;
}

/* ! footer */

.banner-bar{
    height: 500px;
    background-color: black;
}

.banner-row{
    justify-content: space-around;
    gap: 5px;
}

.banner-row .banner-list{
    flex-basis: 25%;
    height: 350px;
    border: 2px dashed white;
    background-color: coral;
    margin-top: 40px;
}